* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.containerStyleCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card-top {
  top: 340px;
}

.form_gap {
  gap: 20px;
}

.light_mode {
  color: black !important;
}
